*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #ffccc8;
    margin: 0% 5% 5% 5%;
}
header{
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3% 5%;
    /* background-color: #ffb1ac; */
}
ul{
    justify-content:end;
    display: flex;
    flex-direction: row;
    align-items: center;
}
li{
    list-style: none;
    margin-left: 20px;
    font-size: 25px;
}
.linkPag{
    text-decoration: none;
    color: black;
    transition: font-size;
    transition-duration: 500ms;
}
.linkPag:hover{
    font-size: 27px;
}
.linkWhats{
    text-decoration: none;
    color: #e4544a;
    font-weight: bold   ;
}
/* .btnheader{
    padding: 10px;
    border: #e4544a solid;
    border-radius: 30px;
} */
.primeiroBanner{
    background:rgba(0, 0, 0, 0.6) url(assets/engin-akyurt-0bgCyhlq9oU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    height: 570px;
  /*   width: 80%; */
    margin: auto;
    box-sizing: border-box;
    padding-right: 5%;
    padding-left: 5%;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.textoPrimeiroBanner{
    width: 370px;
    text-align: center;
}
.tituloPrimeiroBanner{
    font-size: 50px;
}
.paragrafoPrimeiroBanner{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.btn{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #e4544a;
    padding: 10px 20px;
    border: #e4544a solid;
    border-radius: 30px;
    transition: padding, font-size;
    transition-duration: 500ms;
}
.btn:hover{
    font-size: 21px;
    padding: 11px 21px;
}
.cards{
    display: grid;
    grid-gap: 70px 2%;
    justify-content: center;
    grid-template-areas: "a1 a2 a3 a4"
                         "a5 a5 a5 a5"
    ;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    width: 320px;
    margin-top: 70px;
    text-align: center;
    padding-bottom: 25px;
    border-radius: 10px;
}
.imgcard{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
}
.textocard{
    font-size: 20px;
    padding: 20px;
    line-height: 30px;
    color: rgb(95, 95, 95, 0.9);
}
/* .linkcard{
    padding: 10px 15px;
    width: 35%;
    text-decoration: none;
    color: #e4544a;
    border: #e4544a solid;
    font-weight: bold;
    border-radius: 35px;
} */
.bannerMandalas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    max-width: 1700px;
    background-color: white;
    margin-bottom: 50px;
    border-radius: 10px;
}
.textoBannerMandalas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
}
.imgBannerMandalas{
    border-radius: 0px 10px 10px 0px;
    width: 500px;
    height: 100%;
}
.item1{
    grid-area: a1;
}
.item2{
    grid-area: a2;
}
.item3{
    grid-area: a3;
}
.item4{
    grid-area: a4;
}
.item5{
    grid-area: a5;
}
footer{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2% 5%;
    border-radius: 20px;
    background-color: #ffb1ac;
}
.endereco a{
    text-decoration: none;
}
.textoEndereco{
    color: black;
    font-size: 25px;
    margin-right: 20px;
    transition-property: font-size, text-decoration;
    transition-duration: 500ms;
}
.textoEndereco:hover{
    text-decoration: underline;
    font-size: 26px;
}
.imgLink{
    width: 70px;
    margin-left: 30px;
    transition-property: width;
    transition-duration: 500ms;
}
.imgLink:hover{
    width: 80px;
}

@media screen and (max-width: 1500px) {
    .cards{
        grid-template-areas: "a1 a2"
                             "a3 a4"
                             "a5 a5"
    ;
    grid-gap: 70px 5%;
    }
    .card{
        margin-top: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .bannerMandalas{
        flex-direction: column-reverse;
        max-width: 700px;
    }
    .imgBannerMandalas{
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 500px;
    }
}

@media screen and (max-width: 800px) {
    header{
        flex-direction: column;
        height: 120px;
    }
    .primeiroBanner{
        justify-content: center;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        margin: 30px 0px;
    }
    .imgBannerMandalas{
        width: 100%;
    }
    footer{
        flex-direction: column;
    }
    .textoEndereco{
        margin-bottom: 20px;
    }
    .imgLink{
        margin-left: 10px;
    }
}
@media screen and (max-width: 350px) {
    header{
        height: 200px;
    }
    ul{
        flex-direction: column;
    }
    li{
        padding: 5px;
    }
    .card{
        width: 280px;
    }
    .imgLink{
        width: 60px;
    }

}